*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ol, ul, li{
    list-style: none;
}

body {
    font-family: "Bodoni Moda", serif;
    width: 100vw;
    height: auto;
    padding: 0;
    position: relative;
    color: #262220;
    display: flex;
    flex-direction: column;
    background-color: #30332F;
}

.containerHeader {
    padding: 20px;
}

header {
    background-color: #0d1216;
    border-bottom: 1px solid #FFE6E6; 
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 4.5em;
    color: #f7f1f0;
    font-family: "Fleur De Leah", cursive;
}

nav {
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
}

nav a {
    color: #f7f1f0;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #C1C1BD;
    color: #ffffff; 
    border-radius: 5px;
}

main.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #30332F;
    padding: 20px;
    width: 100vw;
    height: auto;
}

#larissa{
    width: 100%;
    height: auto;
    margin-top: -410px;
}

.inicioh1{
    font-size: 275px;
    margin: 0;
    padding: 0;
    line-height: 0.8;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #FFE6E6;
}

.iniciosh2{
    font-size: 200px;
    max-width: 200px;
    font-family: "Birthstone", cursive;
    font-style: normal;
    color: #C1C1BD;
    display: flex;
    justify-content: start;
    align-self: flex-start;
    margin-top: -110px;
    margin-left: -180px;
}




footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: #777777; 
    font-size: 0.9em;
    border-top: 1px solid #dddddd;
}
